/************************ admin page ************************/
.adminDashboard .options {
  display: flex;
}
.adminDashboard .options .dropdown {
  margin: 2rem 1rem;
  display: flex;
  align-items: center;
}
@media (max-width: 990px) {
  .adminDashboard .options {
    justify-content: space-around;
  }
}
@media (max-width: 530px) {
  .adminDashboard .options {
    flex-direction: column;
    margin: 20px;
  }
  .adminDashboard .options .dropdown {
    margin: 5px 0;
  }
  .adminDashboard .options .dropdown * {
    flex: 1 1 auto;
  }
}
.adminDashboard .options .adminForm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25em;
  background: #4e4e4e;
  z-index: 10;
  padding: 2rem;
  box-shadow: 0 0 8px 8px rgba(80, 80, 80, 0.3);
}
.adminDashboard .options .adminForm label {
  color: white;
}
.adminDashboard .options .adminForm .row:last-child {
  margin: 10px 0;
}
.adminDashboard .options .adminForm .row:last-child * {
  margin: 4px 0;
}
.adminDashboard table .selected {
  box-sizing: border-box;
  border-bottom: 3px solid #00b74a;
}
.adminDashboard .card .selected {
  box-sizing: border-box;
  border-bottom: 3px solid #00b74a;
}
.adminDashboard .pageNumbers {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  background: #313131;
}
.adminDashboard .pageNumbers li {
  margin: 0.5rem;
}
.adminDashboard .pageNumbers li a {
  color: #f9f9f9;
}
.adminDashboard .pageNumbers li a:hover {
  cursor: pointer;
  color: #00b74a;
}
.adminDashboard .pageNumbers li a.active {
  color: #00b74a;
}
.cardsContainer {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}
.cardsContainer .card {
  background: pink;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.3);
}
.cardsContainer .card .card-body {
  border-bottom: none;
}
.cardsContainer .card.selected {
  box-sizing: border-box;
  border: 3px solid #00b74a;
}
.card-header {
  background: #383838;
  color: white;
  font-weight: bold;
}
.list-group label {
  background: #383838;
  color: white;
  font-weight: bold;
}
