/************************ admin page ************************/
.adminDashboard .options {
  display: flex;
}
.adminDashboard .options .dropdown {
  margin: 2rem 1rem;
  display: flex;
  align-items: center;
}
@media (max-width: 990px) {
  .adminDashboard .options {
    justify-content: space-around;
  }
}
@media (max-width: 400px) {
  .adminDashboard .options {
    flex-direction: column;
  }
  .adminDashboard .options .dropdown {
    margin: 0;
  }
  .adminDashboard .options .dropdown * {
    flex: 1 1 auto;
  }
}
.adminDashboard table .selected {
  box-sizing: border-box;
  border-bottom: 3px solid #00b74a;
}
.adminDashboard .pageNumbers {
  display: flex;
  list-style: none;
  justify-content: center;
  background: #313131;
}
.adminDashboard .pageNumbers li {
  margin: 0.5rem;
}
.adminDashboard .pageNumbers li a {
  color: #f9f9f9;
}
.adminDashboard .pageNumbers li a:hover {
  cursor: pointer;
  color: #00b74a;
}
.adminDashboard .pageNumbers li a.active {
  color: #00b74a;
}
.adminForm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f9f9f9;
  z-index: 10;
}
.adminForm label {
  padding: 0;
  margin: 0;
}
.cardsContainer {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}
.card-header {
  background: #383838;
  color: white;
  font-weight: bold;
}
.list-group label {
  background: #383838;
  color: white;
  font-weight: bold;
}
