html {
  /* background: linear-gradient(#2a9489, #ceefd3); */
  background: linear-gradient(#289d3d, #ceefd3);
  margin: 0;
  padding: 0;
}

main {
  padding-top: 56px;
  /* background-color: #f2f2f2; */
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/************************ product component in featured/new/all products views ************************/

.product {
  margin: 25px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.3);
}

.product img:hover
/* button:hover { */ {
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.9);
}

.product h1:hover,
.product h3:hover {
  text-shadow: 1px 1px 1px;
}
.product h1,
.product h3 {
  color: white;
  width: 300px;
}

a.link {
  text-decoration: none;
}

.link {
  width: 300px;
}
/* .featured-products {
}
.new-products {
} */

/************************ header for new/featured/all products view ************************/
.list-title {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  color: white;
}

/************************ featured products component ************************/

.featured-products {
  /* background-color: rgba(50, 42, 42, 0.905); */
  background: linear-gradient(#289d3d, #ceefd3);
  padding-top: 5px;
}
.featured-products-list {
  display: flex;
  overflow: scroll;
}

/************************ new products component ************************/
.new-products {
  /* background-color: rgba(50, 42, 42, 0.905); */
  /* background: linear-gradient(#2a9489, #ceefd3); */
  background: linear-gradient(#289d3d, #ceefd3);
  padding-top: 5px;
}
.new-products-list {
  display: flex;
  overflow: scroll;
}

/************************ all products component ************************/
.all-products {
  /* background-color: rgba(50, 42, 42, 0.905); */
  /* background: linear-gradient(#2a9489, #ceefd3); */
  background: linear-gradient(#289d3d, #ceefd3);
  padding-top: 5px;
}
.all-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 20px;
  width: fit-content;
}

/************************ single product component ************************/

.single-product {
  color: black;
  /* background: linear-gradient(#2a9489, #ceefd3); */
  background: linear-gradient(#289d3d, #ceefd3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-view-button {
  margin-top: 10px;
}

/************************ single artist component ************************/
/* .single-artist img {
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.9);
}
.single-product img {
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.9);
} */
.single-artist {
  /* background: linear-gradient(#2a9489, #ceefd3); */
  background: linear-gradient(#289d3d, #ceefd3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/************************ dashboard ************************/

.dashboard {
  background: #313131;
}

/************************ shopping cart ************************/
#cart {
  background-color: white;
  position: fixed;
  right: 0vw;
  top: 60px;
}
#cart img {
  width: 60px;
  height: 60px;
}

/************************ admin page ************************/
.selected {
  box-sizing: border-box;
  border-bottom: 2px solid #00b74a;
}
