html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.app {
  position: absolute;
  top: 70px;
  width: 100vw;
}
/************************ product component in featured/new/all products views ************************/

.product {
  margin: 25px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.product img {
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.3);
  height: 200px;
  width: 200px;
}

.product-button {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  width: 200px;
}

.product h1,
.product h3 {
  font-size: 150%;
}

a.link {
  color: white;
  text-decoration: none;
}

.link {
  width: 200px;
}

/************************ header for new/featured/all products view ************************/
.list-title {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 80px;
  font-weight: 600;
  color: white;
  text-shadow: 0px 0px 5px #19191a, 0px 0px 10px #19191a, 0px 0px 10px #19191a,
    0px 0px 20px #19191a;
}

/************************ featured products component ************************/

.featured-products {
  padding-top: 5px;
}
.featured-products-list {
  background-color: #313131;
  display: flex;
  overflow: scroll;
}

/************************ new products component ************************/
.new-products {
  padding-top: 5px;
}
.new-products-list {
  background-color: #313131;
  display: flex;
  overflow: scroll;
}

/************************ all products component ************************/
.all-products {
  padding-top: 5px;
}
.all-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 20px;
  width: 100%;
  background-color: #313131;
}

.genre-select {
  margin: 20px;
  margin-left: 40px;
  width: 250px;
}

#all-products-paginate {
  margin-top: 10px;
}
#all-products-paginate li {
  margin-top: 10px;
  font-size: 20px;
}

.product-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-sort-buttons {
  display: flex;
  flex-direction: column;
  margin-right: 145px;
  margin-top: 10px;
}

.product-sort-buttons button {
  margin-bottom: 10px;
}

/************************ other products component ************************/

.other-products {
  padding-top: 5px;
}
.other-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 20px;
  width: fit-content;
  background-color: #313131;
}

.view-all-link {
  color: white;
  background-color: #313131;
  float: right;
  width: 100%;
  margin-top: 20px;
  margin-left: 90px;
  margin-bottom: 20px;
}

/************************ single product component ************************/

.single-product {
  color: #4f4f4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.single-product h3 {
  text-decoration: none;
}
.single-product button {
  margin-left: 20px;
}

/************************ single artist component ************************/
.single-artist {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.single-artist li {
  list-style: none;
}

/* .single-artist h5 {
  color: #4f4f4f;
} */

.single-artist button {
  margin-left: 20px;
  border-left: 30px;
  align-items: center;
}

/************************ shopping cart ************************/
#cart {
  background-color: white;
  position: fixed;
  right: 0vw;
  top: 74px;
}
#cart img {
  width: 60px;
  height: 60px;
}

.dropdown-menu {
  max-height: 120px;
  overflow-y: scroll;
}

.dropdown-menu.cart-dropdown {
  min-height: 300px;
  max-height: 500px;
  overflow-y: scroll;
}

.cart-title {
  font-size: 1.2rem;
}

a.cart-delete-btn:hover {
  background-color: red;
}

#checkout-section {
  display: flex;
  justify-content: space-between;
}

/************************ admin page ************************/

.adminDashboard {
  height: 100vh;
  background: #313131;
}

.adminDashboard .options {
  display: flex;
}
.adminDashboard .options > * {
  margin: 8px;
}
.adminDashboard > .dropdown {
  height: 3.5rem;
  display: flex;
  align-items: center;
}
.selected {
  box-sizing: border-box;
  border-bottom: 3px solid #00b74a;
}

.adminForm {
  padding: 2rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f9f9f9;
}

.row > * {
  margin: 8px;
}
input.form-control:focus {
  outline: solid;
  outline-color: #00b74a;
  outline-width: medium;
}

.pageNumbers {
  display: flex;
  list-style: none;
  justify-content: center;
}
.pageNumbers li {
  margin: 0.5rem;
}
.pageNumbers li a {
  color: #f9f9f9;
}
.pageNumbers li a:hover {
  cursor: pointer;
  color: #00b74a;
}
.pageNumbers li a.active {
  color: #00b74a;
}

/************************ PAGE NOT FOUND ************************/
.pageNotFound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageNotFound p {
  text-align: center;
}

/************************ User Info Page ************************/
.user-info-page {
  margin: 30px;
}

/************************ Logged In Edit Form ************************/

#logged-in-form {
  margin: 50px;
}

.past-orders {
  margin-top: 100px;
  margin-left: 50px;
}

.past-order {
  margin-top: 40px;
}

/************************ Footer ************************/
/* 
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
} */

.checkout {
  margin-left: 50px;
}
