.container_checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkoutImage {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.priceWidth {
  min-width: 60px;
  text-align: center;
}

.trashcan {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 0px;
}

.qty_container {
  display: flex;
  flex-direction: row;
  max-height: 50px;
  min-width: 400px;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .qty_container {
    display: flex;
    flex-direction: column;
    max-height: none;
    min-width: auto;
  }
}
