// 991
/************************ admin page ************************/
.adminDashboard {
  .options {
    display: flex;

    .dropdown {
      margin: 2rem 1rem;
      display: flex;
      align-items: center;
    }
    @media (max-width: 990px) {
      justify-content: space-around;
    }
    @media (max-width: 400px) {
      flex-direction: column;
      // justify-content: center;
      .dropdown {
        margin: 0;
        * {
          flex: 1 1 auto;
        }
      }
    }
  }
  table {
    .selected {
      box-sizing: border-box;
      border-bottom: 3px solid #00b74a;
    }
  }
  .pageNumbers {
    display: flex;
    list-style: none;
    justify-content: center;
    background: #313131;
    li {
      margin: 0.5rem;
      a {
        color: #f9f9f9;
      }
      a:hover {
        cursor: pointer;
        color: #00b74a;
      }
      a.active {
        color: #00b74a;
      }
    }
  }
}

.adminForm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f9f9f9;
  z-index: 10;
  label {
    padding: 0;
    margin: 0;
  }
}

.cardsContainer {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.card-header {
  background: #383838;
  color: white;
  font-weight: bold;
}
.list-group {
  label {
    background: #383838;
    color: white;
    font-weight: bold;
  }
}
